@font-face {
    font-family: myFont;
    src: url(fonts/Norse-Bold.otf);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    display: flex;
}

.image-sidebar {
    
    
    width: 35%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
}

.container{
    height: 50%;
    min-height: 10px;
    position: relative;
}

.container2 {
    height:50%;
    min-height: 10px;
    position: relative;
}

.logo {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: max(80px, 30%);
    top: 60%;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo img {
    height: 70px;
}

.logo p {
    color: white;
    font-family: myFont, sans-serif;
    font-size: 50px;
    margin-left: 10px;
}

.image-sidebar > .container2 > p {
    width: 100%;
    color: white;
    position: absolute;
    top: max(10px, 85%);
    bottom: 10px;
   
    text-align: center;

}

.image-sidebar a {
    color: white;
}

.content-area {
    width: 75%;
    height: 100%;

}

.content-area a {
    text-decoration: none;
    color: rgb(57, 129, 35);
    
}

.content-area > p:last-child {
    margin-left: 40px;

}

.some-text {
    margin-top: 20vh;
    padding: 40px;
    font-weight: bold;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 40% 40%;
    row-gap: 20px;
    column-gap: 30px;
}

form label {
    display: block;
    text-transform: uppercase;
    
}

form {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    
    
}

fieldset {
    border: none;
    
    padding: 40px;
    font-size: 10px;
    margin: 0;
}

.wrapper {
    box-shadow: 0 5px 10px 0 grey;
    padding-top: 10px;
}

legend {
    font-size: 20px;
    font-weight: bold;
}

form button {
    margin: 10px;
}

.grid-container div {
    width: 70%;
}

.grid-container div input, .grid-container div label {
    width: 90%
}

form button {
    background-color: rgb(57, 129, 35);
    color: white;
    border: none;
    padding: 10px 30px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
}



fieldset input {
    
    height: 20px;
    border: 1px solid rgb(199, 199, 199);
    outline: none;
   
}

fieldset input:focus {

    border: 2px solid blue;
    border-radius: 3px;
    box-shadow: 1px 3px 5px grey;
}

input.error {
    border: 2px solid red;
    border-radius: 3px;
    box-shadow: 1px 3px 5px grey;
}

.mismatch {
    color: red;
    margin-top: -15px;
}

input::placeholder {
    color: lightgrey;
}

.grid-container > div {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    
}

input + span {
    position: relative;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}
  
input:required + span::after {
    font-size: 0.7rem;
    position: absolute;
    content: "required";
    color: white;
    background-color: black;
    padding: 2px 10px;
    
    top: -20px;
    left: -70px;
    
}