@font-face {
    font-family: myFont;
    src: url(fonts/Norse-Bold.otf);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    display: flex;
}

.image-sidebar {
    position: relative;
    width: 35%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
}

.logo {
    width: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 30vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo img {
    height: 70px;
}

.logo p {
    color: white;
    font-family: myFont, sans-serif;
    font-size: 50px;
    margin-left: 10px;
}

.image-sidebar > p {
    width: 100%;
    color: white;
    position: absolute;
    bottom: 10px;
    text-align: center;

}

.image-sidebar a {
    color: white;
}

.content-area {
    width: 75%;
    height: 100%;

}

.content-area a {
    text-decoration: none;
    color: rgb(57, 129, 35);
    
}

.content-area > p:last-child {
    margin-left: 40px;

}

.some-text {
    margin-top: 20vh;
    padding: 40px;
    font-weight: bold;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 40% 40%;
    row-gap: 20px;
    column-gap: 30px;
}

form label {
    display: block;
    text-transform: uppercase;
    
}

form {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    
    
}

fieldset {
    border: none;
    box-shadow: 0 5px 5px 0 grey;
    padding: 40px;
    font-size: 10px;
    margin: 0;
}

legend {
    font-size: 20px;
}

form button {
    margin: 10px;
}

.grid-container div {
    width: 70%;
}

.grid-container div input, .grid-container div label {
    width: 100%
}

form button {
    background-color: rgb(57, 129, 35);
    color: white;
    border: none;
    padding: 10px 30px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px grey;
}


